# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

data/*
models/autopilot/data/*
models/autopilot/weights/*
!models/autopilot/weights/.gitkeep
!data/.gitkeep
!models/autopilot/data/.gitkeep
